[submodule "danctnix/waydroid-image"]
	path = danctnix/waydroid-image
	url = https://aur.archlinux.org/waydroid-image.git
[submodule "sxmo/pnc"]
	path = sxmo/pnc
	url = https://aur.archlinux.org/pnc.git
