[submodule "danctnix/waydroid"]
	path = danctnix/waydroid
	url = https://aur.archlinux.org/waydroid.git
[submodule "danctnix/waydroid-image"]
	path = danctnix/waydroid-image
	url = https://aur.archlinux.org/waydroid-image.git
[submodule "sxmo/wvkbd"]
	path = sxmo/wvkbd
	url = https://aur.archlinux.org/wvkbd.git
[submodule "sxmo/pnc"]
	path = sxmo/pnc
	url = https://aur.archlinux.org/pnc.git
[submodule "sxmo/lisgd"]
	path = sxmo/lisgd
	url = https://aur.archlinux.org/lisgd.git
