pkgbase = livi
	pkgdesc = GTK4 video player using GStreamer as backend
	pkgver = 0.4.0
	pkgrel = 1
	url = https://gitlab.gnome.org/guidog/livi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-packaging
	depends = gstreamer
	depends = gst-plugins-bad
	depends = gst-plugins-base
	depends = gtk4
	depends = libadwaita
	source = https://sources.phosh.mobi/releases/livi/livi-0.4.0.tar.xz
	source = https://sources.phosh.mobi/releases/livi/livi-0.4.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	md5sums = 17035503aaa726f4f10ed43d8e2999ec
	md5sums = SKIP

pkgname = livi
