pkgbase = phosh-osk-stevia
	pkgdesc = On-screen keyboard for Phosh
	pkgver = 0.52.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = wayland-protocols
	depends = feedbackd
	depends = gnome-desktop
	depends = gtk3
	depends = hunspell
	depends = json-glib
	depends = libgmobile
	depends = libhandy
	depends = wayland
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.52.0.tar.xz
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.52.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 6841eb57b5365e2303b1645bdf37918485df05796e7ced9bf6992b68e3c886adb6af491b2e7c84398d2283533c3d640e86553fc37e73bed0efc7d7fea69967e2
	b2sums = SKIP

pkgname = phosh-osk-stevia
