pkgbase = phosh-osk-stevia
	pkgdesc = On-screen keyboard for Phosh
	pkgver = 0.50.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = wayland-protocols
	depends = feedbackd
	depends = gnome-desktop
	depends = gtk3
	depends = hunspell
	depends = json-glib
	depends = libgmobile
	depends = libhandy
	depends = wayland
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.50.0.tar.xz
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.50.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 1dc66fa762acfdc17039dcd7cb642a2a5f9e858734525fd90c25c6ffca5034732d063605cacc6371ad30065a7d4bb8479c29e9f12cd426aa4dfd722358871578
	b2sums = SKIP

pkgname = phosh-osk-stevia
