pkgbase = phosh-osk-stevia
	pkgdesc = On-screen keyboard for Phosh
	pkgver = 0.50.1
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = wayland-protocols
	depends = feedbackd
	depends = gnome-desktop
	depends = gtk3
	depends = hunspell
	depends = json-glib
	depends = libgmobile
	depends = libhandy
	depends = wayland
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.50.1.tar.xz
	source = https://sources.phosh.mobi/releases/phosh-osk-stevia/phosh-osk-stevia-0.50.1.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 82dd91439c7daf976389ee129388c4c45d0b63a47909f51659e5314021302b260090307adc7fedafb60780b728408a2f8dc6831ce736c5c28ea246becdd5b324
	b2sums = SKIP

pkgname = phosh-osk-stevia
