pkgbase = xdg-desktop-portal-phosh
	pkgdesc = Backend implementation for xdg-desktop-portal for Phosh mobile environment
	pkgver = 0.51.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-docutils
	makedepends = rust
	depends = fontconfig
	depends = glib2
	depends = gnome-desktop-4
	depends = gtk4
	depends = libadwaita
	depends = xdg-desktop-portal
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.51.0.tar.xz
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.51.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 9adec20a66356b721b1047ca36df7584b2dd21eca6841e50ae2636c8d6db8135f108315ccdb85d79045ef1770014999e72f20c194d39e5fb2726e90deae4d251
	b2sums = SKIP

pkgname = xdg-desktop-portal-phosh
