pkgbase = xdg-desktop-portal-phosh
	pkgdesc = Backend implementation for xdg-desktop-portal for Phosh mobile environment
	pkgver = 0.52.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-docutils
	makedepends = rust
	depends = fontconfig
	depends = glib2
	depends = gnome-desktop-4
	depends = gtk4
	depends = libadwaita
	depends = xdg-desktop-portal
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.52.0.tar.xz
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.52.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 06474943bc7c4b8494cbb3760bd1c8dace0e2f7300ea3a6dfb1ebd96865f5bfffbdf267f38240b0f5340c5e62d405a9681dc82fa99bc8efbcc33713276333fc8
	b2sums = SKIP

pkgname = xdg-desktop-portal-phosh
