pkgbase = callaudiod
	pkgdesc = Call audio routing daemon (deprecated)
	pkgver = 0.1.99
	pkgrel = 3.1
	url = https://gitlab.com/mobian1/callaudiod
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	depends = alsa-lib
	depends = appstream
	depends = glib2
	depends = glibc
	depends = libgcc
	depends = libpulse
	source = git+https://gitlab.com/mobian1/callaudiod.git#tag=0.1.99
	source = https://gitlab.com/mobian1/callaudiod/-/merge_requests/30.patch
	b2sums = 8f123d321bb6ffbe1e5d60f768306212fcd8c43b8a3de3eeaffb7edc0d2376a76a6213b54c047f3acd35fdbee449b02ee780e0bc127f25f42946ab3b234607cc
	b2sums = acc5cf1c80e2584e6a9465ce62963441fdb4f8d792538548869a32f38d11655094fd6a5acfa3f5f227e8c8783dc495106f298104729dc917f32793f67883b4f7

pkgname = callaudiod
