pkgbase = cellbroadcastd
	pkgdesc = dbus daemon that manages cell broadcast messages
	pkgver = 0.0.3
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later AND LGPL-2.1-or-later
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = vala
	depends = libgirepository
	depends = libgmobile
	depends = modemmanager
	source = https://sources.phosh.mobi/releases/cellbroadcastd/cellbroadcastd-0.0.3.tar.xz
	source = https://sources.phosh.mobi/releases/cellbroadcastd/cellbroadcastd-0.0.3.tar.xz.asc
	validpgpkeys = B9386554B7DD266BCB8E29A990F0C9B18A6B4A19
	b2sums = 74847a8a8a54f5e7c6d695936f8603e1146b9d3e86b1a76f3683bf16def93bd0a39dcf1ffda1a5abacdf802d6a04d7c68986a2b4d32ef577a49f18056fe3f499
	b2sums = SKIP

pkgname = cellbroadcastd
