pkgbase = uboot-pinetab2
	pkgdesc = U-Boot for PineTab 2
	pkgver = 2026.04
	pkgrel = 4
	url = http://www.denx.de/wiki/U-Boot/WebHome
	install = uboot-pinetab2.install
	arch = aarch64
	license = GPL
	makedepends = bc
	makedepends = git
	makedepends = python
	makedepends = python-pyelftools
	makedepends = python-setuptools
	makedepends = swig
	depends = mtd-utils
	depends = uboot-tools
	replaces = uboot-pinetab2-mainline
	backup = boot/boot.txt
	source = git+https://github.com/u-boot/u-boot.git#tag=v2026.04
	source = rkbin::git+https://github.com/rockchip-linux/rkbin.git#commit=74213af1e952c4683d2e35952507133b61394862
	source = vop2.patch
	source = magichat.patch
	source = bl31.elf
	source = boot.txt
	source = mkscr
	source = update-u-boot
	md5sums = f0be5b9b87dcbc1ac7539ed0fdc2d468
	md5sums = eaf22ccd32e4d70bf87dbe4df02d1c72
	md5sums = 822f66f69ce7b520bc8b1f80190731cb
	md5sums = 60f502a0ba9ba167bb732bb327776e5d
	md5sums = 2e85121e0484b96642af4a0d9146b149
	md5sums = ed65ec486f0e0dc9e9c3118dffaa3782
	md5sums = 021623a04afd29ac3f368977140cfbfd
	md5sums = ba8a770aba341e33afb0c7ce00df4b0d

pkgname = uboot-pinetab2
