pkgbase = uboot-pinetab2
	pkgdesc = U-Boot for PineTab 2
	pkgver = 2026.01
	pkgrel = 1
	url = http://www.denx.de/wiki/U-Boot/WebHome
	install = uboot-pinetab2.install
	arch = aarch64
	license = GPL
	makedepends = bc
	makedepends = git
	makedepends = python
	makedepends = python-pyelftools
	makedepends = python-setuptools
	makedepends = swig
	depends = uboot-tools
	replaces = uboot-pinetab2-mainline
	backup = boot/boot.txt
	source = git+https://github.com/u-boot/u-boot.git#tag=v2026.01
	source = rkbin::git+https://github.com/rockchip-linux/rkbin.git#commit=74213af1e952c4683d2e35952507133b61394862
	source = vop2.patch
	source = bl31.elf
	source = boot.txt
	source = mkscr
	source = update-u-boot
	md5sums = 23cb53812e9428fe2a482f09e5a4b71d
	md5sums = eaf22ccd32e4d70bf87dbe4df02d1c72
	md5sums = a18800c58c0462b6312c6bfcbac7e6e5
	md5sums = 59013d6ccbd4881b9c6f06ee003a4030
	md5sums = ed65ec486f0e0dc9e9c3118dffaa3782
	md5sums = 021623a04afd29ac3f368977140cfbfd
	md5sums = ec7c2005cb5cc9a23d1eb0e1bf089bf9

pkgname = uboot-pinetab2
