pkgbase = linux-megi
	pkgver = 7.0.11
	pkgrel = 1
	url = https://codeberg.org/megi/linux
	arch = aarch64
	license = GPL-2.0-only
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	makedepends = dtc
	makedepends = python
	makedepends = cpio
	makedepends = pahole
	options = !strip
	source = linux-orange-pi-7.0-20260508-1436.tar.gz::https://codeberg.org/megi/linux/archive/orange-pi-7.0-20260508-1436.tar.gz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/incr/patch-7.0.5-6.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/incr/patch-7.0.6-7.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/incr/patch-7.0.7-8.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/incr/patch-7.0.8-9.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/incr/patch-7.0.9-10.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v7.x/incr/patch-7.0.10-11.xz
	source = config
	source = linux.preset
	source = ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = dts-pinephone-drop-modem-power-node.patch
	source = dts-pinephone-pro-remove-modem-node.patch
	source = dts-pinephone-pro-add-modem-ri.patch
	source = Revert-arm64-allwinner-dts-a64-enable-K101-IM2BYL02.patch
	sha256sums = 81d46c3cd80836de56ef4259171e91b310efe7603f2cb20be7298841e9963029
	sha256sums = 053b95975d6cb6719dc7276400579f67f27e8ec63a860f3b4abfda19784649ee
	sha256sums = 308db70cc417d95faababfbbacf57a2594526c5395ccbc7a2a4787a1abce1f63
	sha256sums = f9c78c2cc8d8c0ee4ff47f730a3cde2bc81abe130e7cfb104e6c3e6e21840951
	sha256sums = f0afdc2f470813157e67fdf200d4028174629859e53333833347517a14c66e82
	sha256sums = ea9ae3c15b7386dccbe16ce26d43f6bcd9ac2751dc5df709413700c6d1655f66
	sha256sums = 356d5c506268165eadc1e9161f30ea4616feea15747f9117fa8b82a7185c709d
	sha256sums = 9c0b71a1b6b9d686de2d4c7ecc3dd99c6b69276ebcfae96fb9a5f3bdcfa6f86d
	sha256sums = 66644820faa950a5fc59181f5aefcbed6d7ed652b29aee69979a2be2a032025d
	sha256sums = 1f685119eebc178e4aa42ec5154f7fa8fcc49bddddb2557618be98d510c12e90
	sha256sums = 702745d98cc34fe852967106d69504030f70e7d95f59cb7296c51d1175df3c5f
	sha256sums = 16fff3c042d71977715d9e6943b2d7ecd2ce4feac8364c6f0eb572fbc3ab30c4
	sha256sums = 0c71eb3a198043fee78de51f2cfb10ac186aa0c1613071eb6576aa5a72221b67
	sha256sums = e66e0543cfb7d4c1360b65a1e008059d4e32ea1e510b64dfadbbd38833de0148

pkgname = linux-megi
	pkgdesc = The Linux Kernel and modules - Megous Kernel
	install = linux-megi.install
	depends = coreutils
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	provides = kernel26
	provides = linux=7.0.11
	provides = WIREGUARD-MODULE
	conflicts = linux
	replaces = linux-pine64
	backup = etc/mkinitcpio.d/linux-megi.preset

pkgname = linux-megi-headers
	pkgdesc = Header files and scripts for building modules for linux kernel - Megous Kernel
	depends = pahole
	provides = linux-headers=7.0.11
	conflicts = linux-headers
	replaces = linux-pine64-headers
