# Workaround for iio-sensor-proxy not respecting mount-matrix
SUBSYSTEM=="iio", ATTR{name}=="sc7a20", \
        ENV{ACCEL_MOUNT_MATRIX}="1,0,0;0,0,1;0,1,0"
