pkgbase = phosh-mobile-settings
	pkgdesc = Phosh-specific settings app
	pkgver = 0.50.1
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-packaging
	makedepends = wayland-protocols
	depends = gtk4
	depends = gsound
	depends = libadwaita
	depends = libgmobile
	depends = libyaml
	depends = lm_sensors
	depends = phosh
	depends = wayland
	source = https://sources.phosh.mobi/releases/phosh-mobile-settings/phosh-mobile-settings-0.50.1.tar.xz
	source = https://sources.phosh.mobi/releases/phosh-mobile-settings/phosh-mobile-settings-0.50.1.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = cece018b04cfb5090ff40dd8bb3fb4ea8dccdfbf529b509343ef178521ad1631a61a6a0dae0ffb04b979aeecab1b1624d050d13b4c3a151994449f94f29e46fc
	b2sums = SKIP

pkgname = phosh-mobile-settings
