pkgbase = device-pine64-pinephonepro
	pkgdesc = PinePhone Pro device package
	pkgver = 0.4
	pkgrel = 5
	url = https://github.com/dreemurrs-embedded/Pine64-Arch
	install = device-pine64-pinephonepro.install
	arch = aarch64
	license = MIT
	depends = danctnix-tweaks
	depends = linux-megi
	depends = brcm-firmware
	depends = alsa-ucm-pinephonepro
	depends = eg25-manager
	depends = uboot-tools
	backup = boot/boot.txt
	source = boot.txt
	source = mkscr
	source = 10-proximity.rules
	source = 12_mobile-pinephone.gschema.override
	source = pinephone-suspend-hook.sh
	source = machine-info
	source = pulseaudio-pinetweaks.conf
	source = panfrost-gl3.sh
	source = pt2-kwinvars.sh
	md5sums = 8511c66ce930618994635a72ddd6a67f
	md5sums = 021623a04afd29ac3f368977140cfbfd
	md5sums = b72ff096c022588f72c226283ac328bd
	md5sums = 64752ddac7886945f8c5ad0d9cb09749
	md5sums = b0912b95d7d810a0f161d9bd79fc162b
	md5sums = a3414404885e67eadef3c22ef83034df
	md5sums = 1504e684e5a2aec439e0674cdfc9d3c1
	md5sums = d4056da3ae2da109cc2c056796684419
	md5sums = b10f4e7282e116c773b272d328d31687

pkgname = device-pine64-pinephonepro
