pkgbase = phoc
	pkgdesc = wlroots based Wayland compositor for mobile phones
	pkgver = 0.54.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LGPL-2.1-or-later AND GPL-3.0-or-later AND MIT AND (GPL-3.0-or-later or MIT)
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	depends = gobject-introspection
	depends = gnome-desktop
	depends = libglvnd
	depends = libgmobile
	depends = libinput
	depends = libliftoff
	depends = libxcb
	depends = mutter
	depends = seatd
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = wayland-protocols
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.54.0.tar.xz
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.54.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 10eef7c4edaf55d00b193ff431dd3df3948b0d97dd50796757f2e0d716f9581b5dc408ab2120b5476567f43f3ffc55478ca5c41321322d43556a3536d0fd06da
	b2sums = SKIP

pkgname = phoc
