pkgbase = mobile-config-firefox
	pkgdesc = Mobile and privacy friendly configuration for Firefox
	pkgver = 5.4.0
	pkgrel = 1
	url = https://gitlab.postmarketos.org/postmarketOS/mobile-config-firefox
	arch = any
	license = MPL-2.0
	depends = firefox
	source = https://gitlab.postmarketos.org/postmarketOS/mobile-config-firefox/-/archive/5.4.0/mobile-config-firefox-5.4.0.tar.gz
	sha256sums = 598558f9526d849c955fca4b1da962a94a3ca5863419c0511d5b29e6824e44b5

pkgname = mobile-config-firefox
