pkgbase = greetd
	pkgdesc = Generic greeter daemon
	pkgver = 0.10.3
	pkgrel = 2.1
	url = https://git.sr.ht/~kennylevinsen/greetd
	install = greetd.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-only
	makedepends = cargo
	makedepends = scdoc
	depends = glibc
	depends = libgcc
	depends = systemd
	source = greetd-0.10.3.tar.gz::https://git.sr.ht/~kennylevinsen/greetd/archive/0.10.3.tar.gz
	source = greetd.sysusers
	source = greetd.tmpfiles
	source = greetd.pam
	sha256sums = ee5cb70e0add4ca9c9fe57e47581ab0002d44c07743fb5492469f3b570db640b
	sha256sums = 4141c86b6446a9bcb21b00e03a7242cdc939d6ce39ef9048d1d646c064794893
	sha256sums = 9aa3ca619064a346cca42ada4f4b198cabbc7789cbe1d035c486b5d79a133d7d
	sha256sums = 993a3096c2b113e6800f2abbd5d4233ebf1a97eef423990d3187d665d3490b92

pkgname = greetd
	depends = glibc
	depends = libgcc
	depends = systemd
	depends = greetd-agreety
	depends = greetd-greeter
	depends = pam
	backup = etc/greetd/config.toml
	backup = etc/pam.d/greetd

pkgname = greetd-agreety
	depends = glibc
	depends = libgcc
	depends = greetd
	provides = greetd-greeter
