pkgbase = danctnix-plasma-desktop-settings
	pkgdesc = Settings files for Plasma Desktop
	pkgver = 20260430
	pkgrel = 1
	url = https://danctnix.org
	install = danctnix-plasma-desktop-settings.install
	arch = any
	license = GPL
	makedepends = git
	depends = breeze-gtk
	depends = kwin
	depends = layer-shell-qt
	depends = noto-fonts
	depends = plasma-desktop
	depends = plasma-keyboard
	source = kwinrc
	sha256sums = f10f92db7a29eb16165c69f13d417a7bf3dfc2180e7eec3bab056a8a4c215976

pkgname = danctnix-plasma-desktop-settings
