pkgbase = phosh-osk-stevia
	pkgdesc = This is a dummy package. It is no longer needed.
	pkgver = 0.52.0
	pkgrel = 2
	url = https://danctnix.org
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = NONE
	depends = stevia

pkgname = phosh-osk-stevia
