pkgbase = portfolio-file-manager
	pkgdesc = A minimalist file manager for those who want to use Linux mobile devices.
	pkgver = 1.0.2
	pkgrel = 1
	url = https://github.com/tchx84/Portfolio
	arch = any
	license = GPL3
	checkdepends = python-pytest
	checkdepends = xorg-server-xvfb
	makedepends = meson
	depends = python
	depends = gtk4
	depends = libadwaita
	depends = python-gobject
	replaces = portfolio-fm
	source = Portfolio-1.0.2.tar.gz::https://github.com/tchx84/Portfolio/archive/v1.0.2.tar.gz
	sha512sums = ac1f7dd4734297d59316fa96737e65e5aac8c9f29fd50d86a9903b6718f7fc6ed3bc2260e29792806d327fbf31b6edc85f09350513b58dff69cd4546b2cfa2ac

pkgname = portfolio-file-manager
