pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.18.10.danctnix1
	pkgrel = 1
	url = https://codeberg.org/DanctNIX/linux-pinetab2/commits/tag/v6.18.10-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.10.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.10.tar.sign
	source = https://codeberg.org/DanctNIX/linux-pinetab2/releases/download/v6.18.10-danctnix1/v6.18.10-danctnix1.patch.zst
	source = https://codeberg.org/DanctNIX/linux-pinetab2/releases/download/v6.18.10-danctnix1/v6.18.10-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = 75db556970e23309be9d92e04840228620fdbe00982c01e8f39c9134b852d4639617769da25f13f39350616dbe33571dae9fff6bfd1e52244eba702fed47cc51
	b2sums = SKIP
	b2sums = 107ba231c8e791da5aabbcad00a01b5490cc9993cfd1688cb1e66b0c448e9aa8dae5bbce9b3abd816f5fc9b709d1cbc89f8b93fda30bac3e835238614f76032b
	b2sums = SKIP
	b2sums = c5736fb026d5c613582d93aed6f3bb0c65d8b59376779839b6a02542d4ca086c5db5444aeaeba5fdf2b8bca22e06e06d261ca90e299bfbee2a7acc526bcbc961

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
