pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.19.6.danctnix1
	pkgrel = 1
	url = https://codeberg.org/DanctNIX/linux-pinetab2/commits/tag/v6.19.6-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.19.6.tar.sign
	source = https://codeberg.org/DanctNIX/linux-pinetab2/releases/download/v6.19.6-danctnix1/v6.19.6-danctnix1.patch.zst
	source = https://codeberg.org/DanctNIX/linux-pinetab2/releases/download/v6.19.6-danctnix1/v6.19.6-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = 612fd1e944194c20bb2e6f9d2b309d5957db5b738bcb7b782c9c25de4c02b341fa5caa9af76d92e88628135b8334f550cc2277d63738098fde950ca05f46e89a
	b2sums = SKIP
	b2sums = 55edd865f3a8bf0c300889ad808d0e2b0f31df1ce2da1c362a097f9839c59384f93f77ed6dc3dc7188e75f21ce47038c9986e74044800ceb277dc50757f954a6
	b2sums = SKIP
	b2sums = a2e97a12b396ce889369505d22837e76b59a8a552dd75bb313260c7a15c4a5cebea54f5f8b9a6d6b1880fed74d683b8e81626fd933c3b4cf01f03f0b2297250c

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
