pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.17.6.danctnix1
	pkgrel = 1
	url = https://codeberg.org/DanctNIX/linux-pinetab2/commits/tag/v6.17.6-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.17.6.tar.sign
	source = https://codeberg.org/DanctNIX/linux-pinetab2/releases/download/v6.17.6-danctnix1/v6.17.6-danctnix1.patch.zst
	source = https://codeberg.org/DanctNIX/linux-pinetab2/releases/download/v6.17.6-danctnix1/v6.17.6-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = 00861fe396f5024c50aa62d0cb235281726061200aa32aa27ae7aeeda13928c5d92cab8a27687884ae7c317f0e682ea2c779ab0ce2ebec19dc0b1f4740e2d143
	b2sums = SKIP
	b2sums = e39e59fa0405fd895d4910140f5c6cd5a8931abd2134b48c0770120cd125d294155bab1da428256e382051d8c6c78c604b1a05325ee74fa8d7521d468307f307
	b2sums = SKIP
	b2sums = 956158ba4bf882f53f4f4e73ca965fe5ff6cf17ed9ad175b1be6626fe17dbe8d804fbfd77b3410f685ac703f41d7aa0eee552a8d3c522719980a95bcebc99cdb

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
