pkgbase = libgmobile
	pkgdesc = Functions useful in mobile related, glib based projects
	pkgver = 0.7.3
	pkgrel = 1
	url = https://gitlab.gnome.org/World/Phosh/gmobile
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LGPL-2.1-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = vala
	depends = glib2
	depends = json-glib
	depends = libgirepository
	source = https://sources.phosh.mobi/releases/gmobile/gmobile-0.7.3.tar.xz
	source = https://sources.phosh.mobi/releases/gmobile/gmobile-0.7.3.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	sha256sums = d74668e3f5e378748e4dbe0e0338b009c5a9000c407f8782083900ead67377fa
	sha256sums = SKIP

pkgname = libgmobile
