pkgbase = libgmobile
	pkgdesc = Functions useful in mobile related, glib based projects
	pkgver = 0.7.2
	pkgrel = 1
	url = https://gitlab.gnome.org/World/Phosh/gmobile
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LGPL-2.1-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = python-docutils
	makedepends = vala
	depends = glib2
	depends = json-glib
	depends = libgirepository
	source = https://sources.phosh.mobi/releases/gmobile/gmobile-0.7.2.tar.xz
	source = https://sources.phosh.mobi/releases/gmobile/gmobile-0.7.2.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	sha256sums = ee8b8d5399a255cbc94c8d336aca767bd31177c8f0e9eda63200a6266e5e7449
	sha256sums = SKIP

pkgname = libgmobile
