pkgbase = feedbackd-device-themes
	pkgdesc = Device-specific themes for Feedbackd
	pkgver = 0.8.5
	pkgrel = 1
	url = https://gitlab.freedesktop.org/agx/feedbackd-device-themes
	arch = any
	license = GPL-3.0-or-later
	checkdepends = feedbackd
	checkdepends = json-glib
	makedepends = meson
	source = https://sources.phosh.mobi/releases/feedbackd-device-themes/feedbackd-device-themes-0.8.5.tar.xz
	source = https://sources.phosh.mobi/releases/feedbackd-device-themes/feedbackd-device-themes-0.8.5.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	sha256sums = 06b23ec8584028267d4c1309e5d76b7375c580cc355deaaf8c9e6c95dc69f868
	sha256sums = SKIP

pkgname = feedbackd-device-themes
