pkgbase = uboot-pinephone
	pkgdesc = U-Boot for PinePhone
	pkgver = 2026.04
	pkgrel = 1
	url = http://www.denx.de/wiki/U-Boot/WebHome
	install = uboot-pinephone.install
	arch = aarch64
	license = GPL
	makedepends = bc
	makedepends = python
	makedepends = swig
	makedepends = dtc
	makedepends = python-setuptools
	depends = uboot-tools
	backup = boot/boot.txt
	source = https://ftp.denx.de/pub/u-boot/u-boot-2026.04.tar.bz2
	source = arm-trusted-firmware-da738d5eae93af342fdc4995dd3c05acb4c9d757.tar.gz::https://github.com/ARM-software/arm-trusted-firmware/archive/da738d5eae93af342fdc4995dd3c05acb4c9d757.tar.gz
	source = 0001-expose-DRAM-clock-speed.patch
	source = Improve-Allwinner-A64-timer-workaround.patch
	source = boot.txt
	source = mkscr
	source = update-u-boot
	source = scp.bin
	md5sums = 79f208e510be1602aaba446fcad3b028
	md5sums = 23ce1cb39cdb03653d3913671b87a71e
	md5sums = 3fc1e82b24c60a938a96e48b06984e7a
	md5sums = 98ad5f31b1d7ff2e6e03555f29ebc6e6
	md5sums = 64ea169521b0a136bc383f5388598110
	md5sums = 021623a04afd29ac3f368977140cfbfd
	md5sums = 5f85361d1d5ce47ff11ec4009cc2e18a
	md5sums = c60f45624f84b2f087b9208381c8c235

pkgname = uboot-pinephone
