pkgbase = danctnix-pm-ui-meta
	pkgdesc = Meta package to install Plasma Mobile
	pkgver = 6.5
	pkgrel = 1
	url = https://danctnix.org
	arch = any
	depends = bluedevil
	depends = breeze
	depends = breeze-gtk
	depends = drkonqi
	depends = kscreen
	depends = kwallet-pam
	depends = kwayland-integration
	depends = iio-sensor-proxy
	depends = noto-fonts
	depends = oxygen
	depends = oxygen-sounds
	depends = plasma-keyboard
	depends = plasma-mobile
	depends = plasma-mobile-sounds
	depends = plasma-phone-settings
	depends = plasma-workspace-wallpapers
	depends = polkit-kde-agent
	depends = powerdevil
	depends = qqc2-breeze-style
	depends = xdg-desktop-portal
	depends = xdg-desktop-portal-kde

pkgname = danctnix-pm-ui-meta
